name: gmvc
env: prod


server:
    host: "0.0.0.0"
    port: 10086

template:
    dir: template/
    ext: html


static_file:
    prefix: /assets
    dir: static/

session:
    enabled: 1
    prefix: session/
    keyname: gmvcsession
    expires: 3600
    redis: main

log:
    access: log/access.log
    info: log/info.log


redis:
    main:
        ip: 192.168.1.31
        port: 6379
        timeout: 3


market:
    okcoin:
        api_host: https://www.okcoin.cn/api/v1/
        api_key: ab081d44-4731-464c-865f-738dd374a272
        api_secret: 7913AE52329F81C3D27B64539AE623CF

    okcoincom:
        api_host: https://www.okcoin.com/api/v1/

    huobi:
        market_host: http://api.huobi.com/
        api_host: https://api.huobi.com/apiv3/

    haobtc:
        api_host: https://api.huobi.com/apiv3/

hedge:
    test: 0
    min_trade_margin: 3
    max_trade_amount: 1
